button {
  background: #333333;
  color: #ffffff;
  border-radius: 100px;
  width: 130px;
  line-height: 45px;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  letter-spacing: 0.05em;
  margin: 10px;
}

button:hover {
  background: #4234FA;
  cursor:pointer
}

.error-message {
  color: red;
}

@media screen and (max-width:  1000px) {
  button {
    margin: 5px;
  }
  .error-message {
    font-size: 0.7em;
  }
}