/* .total-amount {
    text-align: right;
    width: calc(90% + 2em);
} */

.total-amount input[type="text"] {
    /* width: 20%; */
    /* margin-right: 0.2em; */
    /* margin-left: 1em; */
    text-align: right;
}