body {
  background-color: #e1e1e1;
  color: #333333;
  font: 13px / 1 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", YuGothic, "Yu Gothic Medium", "Yu Gothic", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
  letter-spacing: 0.03em;
}

@media screen and (max-width:  950px) {
  body {
    font-size: 16px;
  } 
}